.contener{

}

.mieszkania{
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 4px solid #000000;
}
.Zdjecie1 {

}
.opis1{

		margin-top: 80px;


}
.sOpis1{

}
.button1{

}

.kreska{
	    border-top: 4px solid #000000;
      margin-bottom: 20px;
}

.Zdjecie2 {

}
.opis2{


}
.sOpis2{

}
.button2{

}
